@model Web.ViewModel.PacienteViewModel

@{
    ViewData["Title"] = "Excluir Paciente";
}

<div>
    <h4>Esta ação será permanente</h4>
    <hr />
   
        <dl class="row">
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.Nascimento)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.Nascimento)
            </dd>
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.Idade)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.Idade)
            </dd>
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.TitularCpf)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.TitularCpf)
            </dd>
            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.IndicadoPor)
            </dt>
            <dd class="col sm-10">
                @Html.DisplayFor(model => model.IndicadoPor)
            </dd>

        </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir" class="btn btn-danger" /> |
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </form>
        </div>
        <partial name="_DetalhesEndereco" />
